body {
  font-family: sans-serif;
  font-family: 'Karla', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.auth-form {
  margin-top: 100px;
  font-family: 'Karla', sans-serif;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(#00ffff, #7fffd4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.navbar h3 {
  font-size: 1.5em;
  font-kerning: normal;
  letter-spacing: 1px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.single-admin-product {
  width: 400px;
  height: 500px;
  display: inline-block;
  margin-top: 100px;
}
