body {
  font-family: sans-serif;
  font-family: 'Karla', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.auth-form {
  font-family: 'Karla', sans-serif;
}

form div {
  margin: 1em;
  display: inline-block;
}

.form {
  width: 100%;
  margin: 25px auto;
  border: solid 1px black;
  display: flex;
  direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.form input {
  width: 100%;
  background-color: #eee;
}

.form textarea {
  width: 100%;
  background-color: #eee;
}

.navbar {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(#00ffff, #7fffd4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.navbar h3 {
  font-size: 1.5em;
  font-kerning: normal;
  letter-spacing: 1px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.single-admin-product {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.aux {
  display: flex;
  width: 80%;
  margin: 100px auto 100px;
}

.order-history {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single-order-history {
  padding: 20px;
  border: 1px solid black;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.single-order {
  padding: 20px 20px 20px 45px;
  border: 1px solid #ccc;
  margin: 15px 10px;
  box-shadow: 0 2px 3px #eee;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.single-order-paragraph {
  font-size: 14px;
}

.order-id {
  position: relative;
  justify-self: flex-end;
  color: slategray;
}

.single-product {
  padding: 20px 20px 20px 45px;
  border: 1px solid #ccc;
  margin: 15px 10px;
  box-shadow: 0 2px 3px #eee;
  margin: 0 auto;
  width: 100%;
}

.form-item {
  display: block;
  margin: 5px;
}
